
 /* WHOLE NAVBAR SECTION STARTS  */


 /* RIGHT HALF SECTION STARTS */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(60, 53, 53);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 .5rem;
    background: blueviolet;
  }
  
  .header-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .header-nav li {
    display: inline-block;
    border-right: .0625rem solid #bbb;
  }
  
  .header-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  li a:hover {
    background-color: #111;
  }
  /* RIGHT HALF SECTION ENDS */

 
  /* TITLE SECTION STARTS */
h3{
  display: inline;
  color: #fff;
  margin-left: 43.75rem;
position: relative;
margin-bottom: 0rem;
margin-top: -1.25rem;
}
/* TITLE SECTION ENDS */


/* LEFT HALF SECTION STARTS  */
.left{
  background-color: rgb(60, 53, 53);
  margin-left: auto;
  display: inline;
  margin-top: -0.125rem;
  position: relative;
}

.space{
  padding: .125rem 2.5rem;
  color: #fff;
}
/* LEFT HALF SECTION ENDS */

/* WHOLE NAVBAR SECTION ENDS */